<div class="month-budget">
  <section class="month-budget-statistic">
    <div class="month-budget-statistic-element">
      Budget:
      <span class="month-budget-statistic-element__value">{{ sum }}</span>
    </div>

    <div class="month-budget-statistic-element">
      Days:
      <span class="month-budget-statistic-element__value">{{ daysLeft }}</span>
    </div>
    <div class="month-budget-statistic-element">
      Cash left:
      <span class="month-budget-statistic-element__value">{{ sumLeft }}</span>
    </div>
    <div class="month-budget-statistic-element">
      C. left/days:
      <span class="month-budget-statistic-element__value">{{ sumPerDay }}</span>
    </div>
  </section>

  <section class="month-budget-categories" (click)="addSpentMoneyToCategory($event)">
    <div
    *ngFor="let category of categories;"
    class="month-budget-categories-element" >
      <button class="button button__large" data-type="{{category.category}}">{{ category.category }}</button>
    </div>
  </section>

  <section class="month-budget-new-category">
    <button class="button button__small" (click)="addNewCategory()">Add new category</button>
  </section>
</div>
<app-categories [categories]="categories"></app-categories>
