<ul class="navigation">
  <li class="navigation-item">
    <a class="navigation-link" routerLink="/deposites"  routerLinkActive="navigation-link__active">
      Deposites
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link" routerLink="/main/deposites"  routerLinkActive="navigation-link__active">
      Credits
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link" routerLink="/main/month-budget"  routerLinkActive="navigation-link__active">
      Month Budget
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link" routerLink="/main/deposites"  routerLinkActive="navigation-link__active">
      Costs
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link" routerLink="/main/deposites"  routerLinkActive="navigation-link__active">
      Forecast
    </a>
  </li>
</ul>
